<p id="notice" class="alert alert success"><%= notice %></p>

 <%= link_to 'Questions by You', new_question_path, class: 'btn btn-primary float-right mb-3' %>
 <h4>Questions</h4> 

<%= render 'questions_blog'%>

